# Common git and npm ignored folders and files
.nyc_output
.rpt2_cache
cov-int
coverage
coverage.*
lib-cov
node_modules
package-lock.json
logs
pids
*.pid
*.seed
*.tgz
**/*.bak
**/*.lcov
**/*.lock
**/*.log

# Additional files to ignore
.vscode
test
Makefile
**/*.yml
